input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 15px;
	background: #0047ab;
	cursor: pointer;
	border-radius: 40%;
}

input[type="range"]::-moz-range-thumb {
	width: 15px;
	height: 13px;
	background: #0047ab; /* Change this to your desired color */
	cursor: pointer;
	border-radius: 40%;
}

input[type="range"]::-ms-thumb {
	width: 15px;
	height: 13px;
	background: #0047ab; /* Change this to your desired color */
	cursor: pointer;
	border-radius: 40%;
}

.dark input[type="range"]::-webkit-slider-thumb {
	background: #4682b4; /* Change this to your desired color */
}

.dark input[type="range"]::-moz-range-thumb {
	background: #4682b4; /* Change this to your desired color */
}

.dark input[type="range"]::-ms-thumb {
	background: #4682b4; /* Change this to your desired color */
}
