input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 13px;
	background: #0047ab;
	cursor: pointer;
	border-radius: 40%;
}

input[type="range"]::-moz-range-thumb {
	width: 15px;
	height: 13px;
	background: #0047ab; /* Change this to your desired color */
	cursor: pointer;
	border-radius: 40%;
}
